@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

@font-face {
    font-family: "Bebas Neue Cyrillic";
    src: url("../fonts/BebasNeueCyrillic.eot"); /* IE9*/
    src: url("../fonts/BebasNeueCyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/BebasNeueCyrillic.woff2") format("woff2"), /* chrome firefox */ url("../fonts/BebasNeueCyrillic.woff") format("woff"), /* chrome firefox */ url("../fonts/BebasNeueCyrillic.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* chrome firefox opera Safari, Android, iOS 4.2+*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?3e1i4x');
    src: url('../fonts/icomoon.eot?3e1i4x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3e1i4x') format('truetype'),
    url('../fonts/icomoon.woff?3e1i4x') format('woff'),
    url('../fonts/icomoon.svg?3e1i4x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a:hover, a:link, a:visited {
    text-decoration: none;
    outline: none
}

::-moz-selection {
    background: #9b449e;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #9b449e;
    color: #fff;
    text-shadow: none
}

input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

* {
    outline: 0
}

body {
    font-family: 'PT Sans', sans-serif;
    /*background: url("../img/Untitled-6.png") 90% top no-repeat;*/
}

ul {
    margin: 0;
    padding: 0;
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}


.assets-title {
    font-family: 'Bebas Neue Cyrillic';
    font-size: 60px;
    color: #673ba7;
    line-height: 56px;
    text-transform: uppercase;

    text-shadow: -1px -1px 1px #868585,
    -2px 2px 1px #8f8e8d,
    -3px 4px 1px #999897,
    -4px 6px 1px #a3a1a1,
    -5px 8px 1px #adabab,
    -6px 10px 1px #b7b6b5,
    -7px 12px 1px #c1bfbf,
    -8px 14px 1px #cbc9c8,
    -9px 16px 1px #d4d2d1,
    -10px 18px 1px #dbdad9,
    -11px 20px 1px #e2e0df;
}

.assets-title .indent-50 {
    text-indent: 50px;
    display: block;
}

.buttonlink {
    padding: 5px 40px;
    border-radius: 20px;
    border: 2px #673ba7 solid;
    color: #673ba7;
    /*width: 95%;*/
    padding: 5px 30px;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    letter-spacing: 1px;
}

.buttonlink:hover {
    /*width: 100%;*/
    padding: 5px 35px;
    background: #673ba7;
    color: #fff;
}

.bg-pink {
    background: #e483b0;
}

.bg-purple {
    background: #fff;
    border: 2px solid #673ba7;
}

.text-color-white {
    color: #fff;
}


/* HEADER */

.top-menu li {
    list-style: none;
    margin: 15px 15px 5px;
}

.top-menu li a {
    text-align: center;
    color: #1e1e1e;
}

.st0 {
    fill: #fff
}

.brand-bg {
    background: #673ba7;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

.brand-bg:hover {
    background: #E99DC2;
}

.linktochat {
    width: 34px;
    height: 34px;
    text-align: center;
    margin-top: 10px;
}

.linktochat svg {
    width: 16px;
}

.round-bg {
    right: -290px;
    top: 0;
    width: 100%;
    max-width: 782px;
}


@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    40%, 60% {
        transform: translate3d(0, 50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title-out {
    position: relative;

    width: 100%;
    height: 250px;
}

.animated-title {
    /*color: #222;*/
    /*font-family: Roboto, Arial, sans-serif;*/
    height: 290px;
    position: absolute;
    /*top:0;*/
    /*left: 0;*/
    left: 20%;
    top: 30%;
    transform: translate(-10%, -40%);
    /*width: 90vmin;*/
    width: 100%;
    color: #673ba7;
    font-size: 72px;
    line-height: 62px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    /*background: red;*/
}

.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 80%;
    text-align: center;
    /*background: green;*/
}

.animated-title > div div {
    /*background: blue;*/
    text-align: center;
    position: absolute;
    /*line-height: 89px;*/
}

.animated-title > div div span {
    display: block;
    /*font-family: 'Bebas Neue Cyrillic';*/
    /*font-size: 72px;*/
    /*line-height: 68px;*/
    /*text-transform: uppercase;*/
}

.animated-title > div.text-top {
    border-bottom: 3px solid #673ba7;
    top: 0;
}

.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
    width: 100%;
}

.animated-title > div.text-top div span:first-child {
    color: #673ba7;
}

.animated-title > div.text-bottom {
    bottom: 0;
}

.animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
    width: 100%;
}


#mainheader .mainheader-first {
    color: #673ba7;
}

#mainheader .mainheader-second {
    font-size: 22px;
    font-weight: 900;
    background: url("../img/Untitled-5.png") center center no-repeat;
    background-size: contain;
    /* padding: 10px 70px; */
    min-width: 190px;
    min-height: 52px;
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
    line-height: 43px;
}

.mainheader-third-img {
    top: 50%;
    left: -10%;
}

.mainheader-third {
    color: #673ba7;
    font-size: 72px;
    line-height: 62px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    font-family: 'Bebas Neue Cyrillic';
    /*background: url("../img/Untitled-4.png") center center no-repeat;*/
    /*background-size: contain;*/
}

.rebith-logo {
    max-width: 330px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.fz-28 {
    font-size: 28px;
    line-height: 27px;
}

.fz-80 {
    font-size: 80px;
}

.fz-100 {
    font-size: 100px;
    line-height: 101px;
}

.mainheader-fourth a {
    /*padding: 5px 40px;*/
    /*border-radius: 20px;*/
    /*border: 2px #673ba7 solid;*/
    /*color: #673ba7;*/
}

.allpoints {
    justify-content: space-evenly;
}

.onepoint {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.onepoint span {
    display: block;
    color: #fff;
    text-align: center;
}

.onepoint-m {
    font-family: 'Bebas Neue Cyrillic';
    font-size: 37px;
    height: 36px;
    line-height: 50px;
    color: #fff;
}

.onepoint-t {
    line-height: 10px;
    font-size: 11px;
    height: 20px;
    color: #fff;
}

/* GOALS */
#goals {
    /*background: #f1edfc url("../img/Untitled-17.jpg") top left no-repeat;*/
    background: url("../img/bg-known-wave-2.png") left top no-repeat;
    /*background: url("https://xn--b1agjubuh.xn--p1ai/wp-content/themes/ovestin/build/img/bg-known-wave-2.png") center center no-repeat;*/
    background-size: cover;
}

#goals .swiper-slide {
    background-size: cover;
    padding: 50px;
    opacity: .3;
    width: 50%;
    /* min-height: 120px; */
    /* margin-bottom: 0; */
}

#goals .swiper-slide-slide1 {
    background: url("../img/Untitled-23-1.jpg") center center no-repeat;
}

#goals .swiper-slide-slide2 {
    background: url("../img/Untitled-23-2.jpg") center center no-repeat;
}

#goals .swiper-slide-slide3 {
    background: url("../img/Untitled-23-3.jpg") center center no-repeat;
}

#goals .swiper-slide-slide4 {
    background: url("../img/Untitled-23-4.jpg") center center no-repeat;
}


#goals .slider-object {
    height: 303px;
    max-width: 50%;
    position: relative;
    transition: top 700ms;
    top: 0;
}

#goals .swiper-slide.swiper-slide-active {
    opacity: 1;
    transition: opacity 1000ms;
    /*padding: 60px 50px 50px 50px;*/
    /*padding: 50px;*/
    /* margin-bottom: 20px; */
}

#goals .swiper-slide.swiper-slide-active .slider-object {
    top: -10px;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #673ba7;
}

.slider-object {
    padding: 20px 20px 0px;
    box-shadow: 0px 4px 13px 0px rgba(2, 2, 2, 0.33);
    background: #fff;

}


#goals .swiper-button-next,
#goals .swiper-button-prev {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #673ba7;
    top: 48%;
}

#goals .swiper-button-next {
    padding-top: 10px;
    padding-left: 26px;
}

#goals .swiper-button-prev {
    padding-top: 10px;
    padding-left: 18px;
}

#goals .swiper-button-next:after,
#goals .swiper-button-prev:after {
    display: block;
    font-size: 26px;
    color: #fff;
}

#goals .swiper-button-prev {
    left: -20px;
}

#goals .swiper-button-next {
    right: -20px;
}

.slider-object-title {
    color: #e483b0;
    text-transform: uppercase;
    font-size: 24px;
}

.slider-object-text {
    color: #373737;
}

.slider-object-img-out {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.slider-object-img {
    margin: 0 auto;
}

.swiper-slide {
    width: 29%;
}


/* TASKS */

#tasks {
    background: #fff url("../img/Untitled-18.jpg") top left no-repeat;
    background-size: contain;
}

/* PROGRAMS */
#programs {
    background: #f1edfc url("../img/Untitled-19.png") 0 -0 no-repeat;
    background-size: cover;
    padding: 540px 0 200px 0;
    margin-top: -470px;
}

#programs .running-girl {
    top: 0;
    left: calc(100% - 0);
}

.program-date {
    /*width: 100%;*/
    color: #fff;
    font-size: 20px;
    /*left: 0;*/
    /*top:0;*/
    background: url("../img/Untitled-16.png") left top no-repeat;
    width: 100%;
    max-width: 320px;
    background-size: cover;
    line-height: 40px;
    padding-top: 20px;
}

.slider-object-month {
    height: 700px;
    cursor: move;
}

.month-number {
    /*font-family: 'PT Sans', sans-serif;*/
    /*font-family: 'Bebas Neue Cyrillic';*/
    font-family: 'Alfa Slab One', sans-serif;
    color: #dbcdf1;
    font-size: 96px;
    margin-bottom: 0;
    line-height: 56px;
    font-weight: 900;
}

.month-column {
    /* margin-top: -5px; */
    background: #dbcdf1;
    overflow: hidden;
    color: #dbcdf1;
}

.month-column-text ul {
    /*padding-left: 20px;*/
    /*position: relative;*/
}

.month-column-text ul li {
    padding-left: 20px;
    font-size: 14px;
    position: relative;
    list-style: none;
}

.month-column-text ul li::before {
    content: '→';
    position: absolute;
    left: 0;
}


/*ul {*/
/*    position: relative;*/
/*    list-style: none;*/
/*}*/

/*li::before {*/
/*    content: '▶';*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/


.month-column-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

#programs .swiper-slide {
    /*width: calc(33% + 0px) ;*/
}

#programs .swiper-container {
    /*padding: 0 25px;*/
    /*block-size: border-box;*/
    padding-bottom: 40px;
}

.column45 {
    height: 35%;
    min-height: 200px;
}

.column60 {
    height: 60%;

}

.column70 {
    height: 58%;
}

.column75 {
    height: 68%;
}

.column90 {
    height: 75%;
}

.column100 {
    height: 85%;
}


.slider-object-month {
    /*padding: 20px 20px 0px;*/
    /*background: #fff url("../img/Untitled-5.png") center bottom no-repeat;*/
    /*box-shadow: 0px 4px 13px 0px rgba(2, 2, 2, 0.33);*/
    /*background: #fff;*/
    margin-bottom: 20px;
}

#programs .swiper-slide-active .month-column,
#programs .swiper-slide .month-column {
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

#programs .swiper-slide-active .month-column,
#programs .swiper-slide:hover .month-column {
    color: #fff;
}

#programs .swiper-slide-active .month-number,
#programs .swiper-slide:hover .month-number {
    color: #673ba7;
}

#programs .swiper-slide-active .month-column,
#programs .swiper-slide:hover .month-column {
    background: #673ba7;
}

.graph {
    top: 65%;
    z-index: 11;
}


/* ABOUT */
#about {
    /*background: #fff url("../img/Untitled-20.jpg") top left no-repeat;*/
    /*background-size: contain;*/
}

#about h3 {
    font-size: 18px;
}

.about-bg {
    position: absolute;
    top: 20%;
    left: 44%;
}

.about-photo {
    border: 10px solid #673ba7;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 0px rgba(2, 2, 2, 0.75);
}

.signature-out {
    text-align: right;
}

.signature {
    position: relative;
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 0;
    padding-bottom: 25.30973%;
}

.signature svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* PLANS */
#plans {
    background: #f1edfc url("../img/Untitled-21.jpg") top left no-repeat;
    background-size: cover;
    padding-top: 200px;
    margin-top: -200px;
}

#plans .swiper-wrapper {
    margin-bottom: 40px !important;
}

#plans .recomentedblock .slider-object-plan-title {
    color: #673ba7;
}

#plans .recomentedblock .slider-object-plan-text-newprice {
    background: #673ba7;
}

#plans .slider-object-plan {
    position: relative;
}

.sale-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
}

.slider-object-plan {
    /*padding: 20px 20px 0px;*/
    /*background: #fff url("../img/Untitled-5.png") center bottom no-repeat;*/
    box-shadow: 0px 4px 13px 0px rgba(2, 2, 2, 0.33);
    background: #fff;
    margin-bottom: 20px;
}

.slider-object-plan-title {
    color: #e483b0;
    text-transform: uppercase;
    font-size: 24px;
}

.slider-object-plan-text {
    color: #373737;
}

.slider-object-plan-text-oldprice {
    text-decoration: line-through;
    margin-bottom: 5px;
}

.line-through {
    text-decoration: line-through;
}

.slider-object-plan-text-oldprice-free {
    margin-bottom: 5px;
    color: #673ba7;
    font-size: 18px;
}

.slider-object-plan-text-oldprice-free .price {
    font-size: 22px;
}

.slider-object-plan-text-newprice {
    background: #14d2b0;
    /*padding: 2px;*/
    font-size: 38px;
    font-weight: 900;
    color: #fff;
}


/* COMMENTS */
#comments {
    background: #F0EDFC;
}

/* FAQ */
#faq {
    background: #F0EDFC;
}

.accordion-section .panel-default {
    box-shadow: 0px 2px 6px 0px rgba(2, 2, 2, 0.22);
}

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #fff;
    padding: 0;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    position: relative;
    color: #e483b0;
    text-transform: uppercase;
    font-size: 18px;
}

.accordion-section .panel-default h3 {
    padding: 0;
    margin: 0;
}

.accordion-section .panel-default .panel-title a:after {
    font-family: 'icomoon';
    font-style: normal;
    font-size: 12px;
    content: "\ea0b";
    right: 0;
    top: 35%;
    position: absolute;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\ea0a";
}

.accordion-section .panel-default .panel-body {
    background: #fff;
}


/* FOOTER */
footer {
    background: purple;
}

.footer-text {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.footer-link {
    margin: 5px 5px 0;
    color: #fff;
    font-size: 16px;
}

.desktop-hidden {
    display: none;
}


@media screen and (min-width: 2100px) {
    /*body{*/
    /*    background: url("../img/Untitled-6.png") 70% top no-repeat;*/
    /*}*/
    #goals .swiper-slide {
        width: 33%;
        height: 600px;
    }

    #goals .swiper-button-prev {
        left: calc(33% - 100px);
    }

    #goals .swiper-button-next {
        right: -0px;
    }
}

@media (min-width: 1280px) and (max-width: 2100px) {
    #goals .swiper-button-prev {
        left: 23%;
    }

    #goals .swiper-button-next {
        right: 23%;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    #header {
        overflow: hidden;
    }

    .round-bg {
        right: -390px;
        top: 0;
    }

    #goals .swiper-button-prev {
        left: calc(33% - 100px);
    }

    #goals .swiper-button-next {
        right: calc(33% - 100px);
    }
}

@media screen and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    #header {
        overflow: hidden;
    }

    .header-top-text {
        padding-top: 100px;
    }

    .mobile-text-center {
        text-align: center;
    }

    #goals {
        background: #f1edfc url(../img/Untitled-17.jpg) top left no-repeat;

    }

    .graph {
        display: none;
    }

    #tasks {
        background-size: cover;
    }

    #programs {
        background-size: cover;
        background-position: 10% 0;
    }

    .slider-object-month {
        height: 670px;
    }

    #goals .swiper-button-next {
        padding-top: 10px;
        padding-left: 22px;
    }

    #goals .swiper-button-prev {
        padding-top: 10px;
        padding-left: 25px;
    }

    #programs .running-girl {
        top: 40px;
        left: -30%;
    }

    #goals .swiper-slide {
        padding: 0;
        background-position: top center;
        background-size: contain;
    }

    #goals .slider-object {
        height: 331px;
        max-width: 75%;
        margin: 120px auto 20px;
    }

    #about {
        overflow: hidden;
    }

    .about-bg {
        top: 60%;
        left: 70%;
    }

    .desktop-hidden {
        display: block !important;
    }

}


@media screen and (max-width: 767px) {
    /*body{*/
    /*    background: url("../img/Untitled-6-mob.png") 100% top no-repeat;*/
    /*}*/
    /*#header{*/
    /*    padding-top: 100px;*/
    /*}*/
    body {
        overflow-x: hidden;
    }

    .linktochat-mob-right {
        float: right;
    }

    .no-padding-mobile {
        padding-left: 0;
        padding-right: 0;
    }

    .round-bg {
        /* left: -0px; */
        right: -130px;
    }

    #programs .swiper-slide {
        width: 100%;
    }

    .animated-title {
        left: 0;
        transform: translate(3%, -36%);
        margin-left: 0;
    }

    .animated-title > div {
        width: 90%;
    }

    .animated-title > div div span {
        /*font-size: 57px;*/
        /*line-height: 57px;*/
    }

    .animated-title > div div {
        /*font-size: 57px;*/
        /*line-height: 68px;*/
    }

    .mobile-hidden {
        display: none !important;
    }


    .signature {
        width: 80%;
    }

    .swiper-slide {
        width: 80%;
    }

    .footer-text {
        line-height: 30px;
        padding-top: 20px;
    }

    .fz-28 {
        font-size: 20px;
        /*line-height: 25px;*/
    }

    .fz-80 {
        font-size: 60px;
    }

    .fz-100 {
        font-size: 80px;
    }

}

@media screen and (max-width: 375px) {
    .animated-title {
        left: 0;
        transform: translate(0%, -47%);
        margin-left: 0;
    }

    .animated-title > div {
        width: 100%;
    }
}